/* HomeUserContainer.css */
.HomeUsersContainer {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* מיקום התוכן והכפתורים */
}

